<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"
>

    <!-- файл, где есть совет И до И после-->

    <bean id="eddie"  class="com.springinaction.springidol.Instrumentalist">
        <property name="instrument">
            <bean class="com.springinaction.springidol.Guitar" />
        </property>
    </bean>

    <bean id="audience"
          class="com.springinaction.springidol.Audience" />

    <aop:config>
        <aop:aspect ref="audience"> <!-- Ссылка на компонент audience -->
            <aop:pointcut id = "performance2" expression="execution(* com.springinaction.springidol.Performer.perform(..))"/><!-- Определение среза множества точек сопряжения -->

            <!-- Совет, выполняемый и До и После -->
            <aop:around pointcut-ref="performance2"
                        method="watchPerformance" />
        </aop:aspect>
    </aop:config>

</beans>